*{padding: 0; margin: 0; box-sizing: border-box;font-size:100%;font-family: 'Open Sans', sans-serif;}

a{text-decoration: none;}

body{width: 100%;}

header{width:100%;background-color: #100e2f;border: none;}

.header-container{width: 80%;margin:0 auto;display: flex;justify-content: space-between;align-items: center;padding:15px 50px;}

header img{width: 200px;}

header nav ul{display: flex;justify-content: center;}

header ul li{list-style: none;}

header ul li a{color: #FFF;margin-right: 20px;}

header ul li a:hover{border-bottom: 2px solid #f3d022;}

@media(max-width:700px){
    .header-container{flex-direction: column;}
    header img{margin-bottom: 30px;}
    header nav {margin: auto;}
    header ul li a{color: #FFF;padding: 5px;margin: auto;}}

/*main*/
.hero{background-image: url(../img/HERO.png);background-size: cover;min-height: 80vh;}

main .container{width:80%; margin:0 auto;}

main h1{color: #fff;padding-top: 70px;margin-left: 30px;font-size: 50px;text-transform: uppercase;}

main h2{color: #fff;padding-top: 10px;margin-left: 30px;font-size: 22px;margin-bottom: 30px;font-style: italic;}

main a{background-color:#1286C9; color: #fff;padding: 10px 30px;font-weight: bolder;margin-left: 20px;}

main a:hover{background-color:#0b5f91;transition: 1s;}

.container form{margin-top:50px; text-align: center;}

input{text-align: center;margin-left: 20px;width: 200px;padding: 10px;border: none;}

#pessoa{width: 200px;padding: 10px;margin-left: 20px;border: none;}

input[type='submit']{background-color: #f3d022;color:#085988;font-weight: bolder;border:none}

input[type='submit']:hover{background-color: #C9A911;transition: 0.5s;}

@media(max-width:700px){
    main h1{font-size: 30px;}
    main h2{font-size: 18px;}
    input{margin-bottom: 20px;width: 80%;}
    #pessoa{margin-bottom: 20px;width: 80%;}
    input[type='submit']{margin-bottom: 50px;}}

/*passeios*/
#ps{width:100%;}

.ps-container{margin: 0 auto;width:80%;display: flex;justify-content: space-between;position:relative;top: -32px;}

.passeios{width: 33%;background-image: url(../img/praia.png);background-position: center;height: 270px;}

.quarto{width:33%;background-image: url(../img/quarto.png);background-position: center;height: 270px;}

.gastronomia{width:33%;background-image: url(../img/gastronomia.png);background-position: center;height: 270px;}

.ps-container h2{text-align: center;font-weight: 700;font-size: 25px;color: #fff;padding-top:100px}

.ps-container p{text-align: center;color: #fff;font-weight: 700;}
.ps-container p:before{
    content:"";
    display:block;
    width:60px;
    height:2px;
    background: #fff;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;}

@media(max-width:700px){
    .ps-container{flex-flow: column;margin: 0 auto;}
    .passeios{width: 100%;margin: auto;}
    .quarto{width: 100%; margin: auto;}
    .gastronomia{width: 100%;margin: auto;}}

/*seção01*/
.secao01 {width: 100%;margin-top:50px;}

.secao01 .container{display: flex;width: 80%;justify-content: space-between;margin: 0 auto;
    padding: 20px;}

.secao01 .container img{max-width: 100%;padding-bottom: 30px;}

.secao01-container{margin: 0 auto;text-align: center;}

.secao01 .container h2{font-size: 25px;margin-left: 20px;margin-bottom: 30px;text-align: left;margin-top: 30px}

.secao01 .container p{font-size:18px;margin-bottom: 30px;padding-left: 20px;text-align: left;}

.secao01 .container li{list-style: none;padding-left: 20px;text-align: left;}

.secao01 .container a{background-color:#1286C9;box-shadow: 1px 1px 3px #000000; color: #fff;
    padding: 10px 40px;font-weight: bolder;}

.secao01 .container a:hover{background-color:#0868a0;transition: 0.5s;}

@media(max-width:700px){
    .secao01 .container {flex-flow: column;}
    .secao01 .container img{width:100%;margin:0 auto;}
    .secao01 .container a{margin-bottom: 30px;}}
/*seção02*/

.secao02{width: 100%;background-image: url(../img/imgpraia.png);
    background-size: cover;background-position: center;height: 550px;}

.secao02 h2{font-size:35px;font-weight: bold;color: #fff;text-align: center;padding-top:30px;}

.secao02 h2:after{
    content:"";
    display:block;
    width:60px;
    height:3px;
    background: #fff;
    margin:auto;
    margin-top:12px;
    margin-bottom:12px;}

.secao02-container{width: 80%;margin: 0 auto;display:flex;justify-content: space-between;}

.secao02-container img{width: 100%;;margin-top: 20px;}

.secao02-container h3 {color: #fff;margin-left: 10px;font-weight: bold;}

.secao02-container p {color: #fff;margin-left: 10px;font-style: italic;margin-bottom: 20px;}

.secao02-container a{color: #085988; font-weight: bolder;margin-left: 10px;
    margin-top:40px;background-color: #f3d022;padding: 10px 40px;font-style: italic;}

.secao02-container a:hover{background-color: #C9A911;transition: 0.5s;}

@media(max-width:700px){
    .secao02-container{flex-flow: column;}
    .secao02{height: 100%;}
    .secao02-container img{margin-top: 10px;width: 80%;}
    .secao02-container a{margin-top: 10px;}}

/*seção03*/
    
.secao03{width: 100%;}

.secao03-container{width: 80%;margin: 0 auto;background: #100e2f;}

.secao03-container h2{color: #fff;text-align: center;margin-top: 50px;padding-top: 30px;padding-bottom: 20px;}

.secao03-container form{text-align: center;padding-bottom: 30px;}

.secao03-container input[type="email"]{width:50%;padding-left: 20px;}

.secao03-container input[type="button"]{background-color:#1286C9;color: #fff;font-weight: bold;border: none;margin-bottom: 20px}

.secao03-container input[type="button"]:hover{background-color:#085988;transition: 0.5s;}

@media(max-width:700px){
    .secao03-container form input[type="email"]{width: 80%;}
    .secao03-container form input{width: 80%;}
}
/*seção04*/

#sect04{max-width: 100%;}

#sect04 .sect04-container{max-width: 80%;margin: 0 auto;}

#sect04 .sect04-container h2{padding-top: 50px;font-size: 40px;text-align: center;}

#sect04 .sect04-container h2::after{
    content:"";
    display:block;
    width:60px;
    height:3px;
    background: #100e2f;
    margin:auto;
    margin-top:10px;
    margin-bottom:20px;}

#sect04 .sect04-container .formulario{display: flex;flex-direction: column;}

#sect04 .sect04-container .container-form{
   display:flex; justify-content: space-between;
   align-items: center;}

#sect04 .sect04-container .formulario label{padding-bottom: 5px;font-size: 20px;text-align: left;padding-left: 20px;}

#sect04 .sect04-container .formulario input{padding: 5px; border: 2px solid #100e2f; 
    font-size: 20px;margin-bottom: 10px;width: 420px}

#sect04  .sect04-container .formulario #text{padding: 5px; border: 2px solid #100e2f; 
    font-size: 20px;padding-bottom: 100px;width: 420px;}

iframe{margin-bottom: 50px;}

#sect04 .sect04-container .formulario #btn3{display: inline-block;
border: 2px solid #100e2f;
   color: #fff;
   width: 120px;
   padding: 7px 30px 7px 30px;
   font-size: 15px;margin-top: 20px;
   background-color: #100e2f;  
   margin-top:10px;
   margin-bottom:20px;}

#sect04 .sect04-container .formulario #btn3:hover{background-color:#085988; 
  transition: 0.5s;}

@media(max-width:720px){
        #sect04 .sect04-container .formulario input{width: 80%;margin: auto;}
        #sect04 .sect04-container .container-form{flex-direction: column;}
        #sect04 .sect04-container iframe{max-width: 100%;}
        #sect04 .sect04-container .formulario input{width: 100%;}
        #sect04  .sect04-container .formulario #text{width: 100%;}}


      /*footer*/
    #rodape{max-width: 100%;padding: 30px 0px 30px 0px;display:flex;
    background-color:#100d3f; }
    
    .rodape-container{width: 80%;margin: 0 auto;color:#fff;display: flex;justify-content: space-between;}

    .rodape-container p{font-size: 18px;font-weight: bold;padding-bottom: 15px;}

    .rodape-container li{list-style: none;padding-bottom: 5px;font-size: 15px;}

    .rodape-container img{width: 50px;padding-right: 15px;padding-top: 5px;}

    .direitos{background-color: #100e2f;padding: 5px;}
  
    .redesocial{display: flex;}

    .direitos h5{font-size: 12px;font-weight: 500; text-align: center; color:#fff;margin-top: 5px;padding-bottom: 5px;}

    @media(max-width:500px){
        #rodape{display: flex;flex-direction: column;}
    }